/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.greeting, .description {
	color: #1a1a1a;
	font-size: 24px;
	padding-right: 30px;
	padding-left: 30px;
}

.card{
	border-radius: 60px;
	background:#ffffff;
	padding: 50px
}

.navbar, .nav-link, .navbar-brand{
	background-color: #ffffff;
	color: #4d4d4d;
}

.nav-link:hover, .navbar-brand:hover{
	color: #262626;
}

.jumbotron{
	background-image: url('../images/yellowchip.jpg');
	background-size: 1400px
}
.creators{
	color: #fed41b;
}
